.main-background-color {
    background-color: rgb(235, 235, 235);
}

.post-background-color {
    background-color: rgb(255, 255, 255);
}

.post-border-radious {
    border-radius: 0.5rem;
}

.my-pl {
    padding-left: 1px;
}

.w50 {
    width: 50%;
}

.my-rounded{
    border-radius: 20%;
}

.my-box-shadow{
    box-shadow: 1px 1px 3px 3px #ddd;
}

.img-size-class{
    width: 100%;
}